includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	level: max
	paths:
		- src
		- tests/src
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- '#Call to static method PHPUnit\\Framework\\Assert::(assertInstanceOf|assertTrue|assertFalse|assertSame)\(\) with .* will always evaluate to true#'
